In [1]:
import pandas as pd

# Sample data
data = {
    'show_id': ['s1', 's2', 's3'],
    'type': ['Movie', 'TV Show', 'Movie'],
    'country': ['United States, Canada', 'United Kingdom', 'India, Japan']
}

df = pd.DataFrame(data)

# Your code
country_tb = df[['show_id', 'type', 'country']]
country_tb.dropna(inplace=True)
country_tb['country'] = country_tb['country'].apply(lambda x: x.split(','))
country_tb = country_tb.explode('country')
country_tb['country'] = country_tb['country'].str.strip()  # Strip any leading/trailing whitespace
country_tb

  show_id     type         country
0      s1    Movie   United States
0      s1    Movie          Canada
1      s2  TV Show  United Kingdom
2      s3    Movie           India
2      s3    Movie           Japan