Author: Muhammad Husnain\
Date: 2022-07-24 14:47:47\
Email: husnainmalikawan@gmail.com\
linkdeIn: https://www.linkedin.com/in/husnainmuhammad/

### Methods of Feature Scaling:
1) Min-Max Scaling:\
   x`= x-min(x)/max(x)-min(x)
2) Standard Scaling (Z-score Normalization):\
   x`=x-mean(x)/std(x)
3) Robust Scaling:\
   x`=x-median(x)/IQR(x)
4) Logrithmic Scaling:\
   log or log10 of value

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler

df=pd.read_csv("Titanic-Dataset.csv")

In [22]:
#Sample Data
data={'Value':[10,20,30,40,50]}
df=pd.DataFrame(data)
print(df.head())

   Value
0     10
1     20
2     30
3     40
4     50

In [23]:
# Min Max Scaler
scaler=MinMaxScaler()
df['Scaled_Values']=scaler.fit_transform(df[['Value']])
df

   Value  Scaled_Values
0     10           0.00
1     20           0.25
2     30           0.50
3     40           0.75
4     50           1.00

In [24]:
# Standard Scaler or Z-score normalization
scaler = StandardScaler()
df['Scaled_Standar_Scaler']=scaler.fit_transform(df[['Value']])
df

   Value  Scaled_Values  Scaled_Standar_Scaler
0     10           0.00              -1.414214
1     20           0.25              -0.707107
2     30           0.50               0.000000
3     40           0.75               0.707107
4     50           1.00               1.414214

In [25]:
# Robust Scaler
scaler = RobustScaler()
df['Scaled_Robust_Scaler']=scaler.fit_transform(df[['Value']])
df

   Value  Scaled_Values  Scaled_Standar_Scaler  Scaled_Robust_Scaler
0     10           0.00              -1.414214                  -1.0
1     20           0.25              -0.707107                  -0.5
2     30           0.50               0.000000                   0.0
3     40           0.75               0.707107                   0.5
4     50           1.00               1.414214                   1.0

In [ ]:
# Logrithmic Scaling
#Sample Data
data={'Value':[10,20,30,40,50]}
df=pd.DataFrame(data)
print(df.head())

In [26]:
# Robust Scaler
df['Scaled_through_log']=np.log(df[['Value']])
df['Scaled_through_log2']=np.log2(df[['Value']])
df['Scaled_through_log10']=np.log10(df[['Value']])
df

,Value,Scaled_Values,Scaled_Standar_Scaler,Scaled_Robust_Scaler,Scaled_through_log,Scaled_through_log2,Scaled_through_log10
0,10,0.00,-1.414214,-1.0,2.302585,3.321928,1.000000
1,20,0.25,-0.707107,-0.5,2.995732,4.321928,1.301030
2,30,0.50,0.000000,0.0,3.401197,4.906891,1.477121
3,40,0.75,0.707107,0.5,3.688879,5.321928,1.602060
4,50,1.00,1.414214,1.0,3.912023,5.643856,1.698970